# All needed credentials are available from the Heroku admin "reveal config vars" button in the "giving-frontend" application.

# Algolia is a hosted search service. 
NEXT_PUBLIC_ALGOLIA_KEY=
NEXT_PUBLIC_ALGOLIA_ID=

# Authorize.net provides a hosted payment form via an iframe.
NEXT_PUBLIC_AUTHORIZE_LOGIN_ID=
NEXT_PUBLIC_AUTHORIZE_TRANSACTION_KEY=

# Service that monitors for attack vectors.
SQREEN_TOKEN=