# All needed credentials are available from the Heroku admin "reveal config vars" button.

# Algolia is a hosted search service. 
NEXT_PUBLIC_ALGOLIA_KEY=
NEXT_PUBLIC_ALGOLIA_ID=

# Authorize.net provides a hosted pyament form via an iframe.
NEXT_PUBLIC_AUTHORIZE_LOGIN_ID=
NEXT_PUBLIC_AUTHORIZE_TRANSACTION_KEY=

# The Drupal 7 version of the Giving website stores oreder information.
NEXT_PUBLIC_AUTHORIZE_ORDER_API_KEY_NAME=
NEXT_PUBLIC_AUTHORIZE_ORDER_API_KEY=

# Auth0 provides authentication as a service.
NEXT_PUBLIC_AUTH0_DOMAIN=
NEXT_PUBLIC_AUTH0_CLIENT_ID=
NEXT_PUBLIC_AUTH0_CLIENT_SECRET=
NEXT_PUBLIC_AUTH0_COOKIE_SECRET=